$primary-color: #2b81af;
$secondary-color: #E6186D;

$header-height: 75px;

$content-padding: 50px;

$baseFontSize: 16;

$green: #009688;
$blue: #5677fc;
$blueDark: #3b50ce;

$hover-white: #e4e4e4;

$slideDistance: 100;
$slideDuration: .4s;
